.user-card {
  padding: 40px 20px;

  &__header {
    text-align: center;
    padding-bottom: 30px;

    .user-card__position {
      color: #ffa92b;
    }
  }

  &__img {
    text-align: center;
    padding: 0 50px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid orange;
    }
  }

  &__description {
    text-align: justify;
    padding: 20px 0 14px;
    position: relative;

    &:after {
      content: "read more...";
      position: absolute;
      bottom: 0;
      right: 0;
      color: orange;
      cursor: pointer;
    }
  }
}
