@font-face {
    font-family: "AlegriaRegular";
    src: url("../fonts/AlegriaRegular/Alegreya-Regular.ttf");
  }
  @font-face {
    font-family: "AlegriaBold";
    src: url("../fonts/AlegriaBold/Alegreya-Bold.ttf",bold);
  }
  @font-face {
    font-family: "PlayFairDisplayRegular";
    src: url("../fonts/PlayFairDisplayRegular/playfairdisplay.ttf");
  }
  @font-face {
    font-family: "PlayFairDisplayBold";
    src: url("../fonts/PlayFairDisplayBold/playfairdisplaybold.ttf",bold);
  }
  @font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/proximanovaregular.otf");
  }
  @font-face {
    font-family: "ScriptinaRegular";
    src: url("../fonts/ScriptinaRegular/SCRIPTIN.ttf");
  }

  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?c72bim');
    src:  url('../fonts/icomoon.eot?c72bim#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?c72bim') format('truetype'),
      url('../fonts/icomoon.woff?c72bim') format('woff'),
      url('../fonts/icomoon.svg?c72bim#icomoon') format('svg');
      
    font-weight: normal;
    font-style: normal;
  }

  
