.slider__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  // z-index: 0;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 200px;
  //   height: 200px;
  //   border: solid 1px black;
  //   top: 0;
  //   right: 0;
  //   z-index: 2;
  //   background-color: white;

  // }
}
.slider__photo {
  // height: 100%;
  overflow: hidden;
  position: relative;
  // border-bottom-left-radius: 100px;

  .photo {
    margin: 0px -168px 0px -265px;
    height: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 268%);
  }
}
.slider__content-wrapper {
  position: relative;
  z-index: 3;

  .slider__content-ready {
    position: absolute;
    top: -10%;
    right: -20%;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 49px -18px rgba(0, 0, 0, 0.75);
    background-image: url("../img/Vektor-Smartobjekt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    min-height: 200px;
    width: 200px;
    word-wrap: wrap;
  }
  .slider__content-ready-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
cursor: default;
    align-items: center;
    .text {
      color: #996666;
      font-family: $fontheadinsbold;
      font-weight: bold;
      line-height: 30px;
      letter-spacing: 0.1px;
      font-size: 18px;
      text-align: center;
    }
    .count {
      color: #dfc691;
      font-family: $fontheadinsbold;
      font-weight: bold;
      text-align: center;
      line-height: 100%;
      letter-spacing: 0.1px;
      font-size: 90px;
    }
    .mins {
      color: $accentcolor;
      font-family: $fontheadinsbold;
      font-weight: bold;
      text-align: center;
      line-height: 30px;
      letter-spacing: 0.1px;
      font-size: 14px;
    }
  }
  .slider__content {
    background-color: white;
    position: relative;
    height: 100%;
    max-width: 550px;
    padding: 80px 83px 35px 60px;
    z-index: 4;
    &:before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;

      left: -3%;
      bottom: 42%;
      background-color: white;
    }
    &:after {
      content: "";
      background-image: url("../img/bckgmelniza.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      z-index: -1;
      min-height: 300px;
      width: 270px;
      right: 0px;
      bottom: 0px;
    }

    &-tittle {
      padding-bottom: 13px;
      h2 {
        font-family: $fontheadinsbold;
        font-size: 54px;
        line-height: 30px;
        letter-spacing: 0.1px;
        color: $textcolor;
      }
    }
    &-subtittle {
      padding-bottom: 60px;
      p {
        font-family: $fontheadinsbold;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.1px;
        color: #996666;
        font-weight: bold;

        word-wrap: break-word;
      }
    }
    &-text {
      padding-bottom: 45px;
      p {
        font-family: fontaccenttext;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $btncolorgradone;
      }
    }
    &-rating {
      padding-bottom: 37px;
      text-align: left;
      #reviewStars-input input:checked ~ label,
      #reviewStars-input label,
      #reviewStars-input label:hover,
      #reviewStars-input label:hover ~ label {
        background: url("../img/stars.png") no-repeat;
      }

      #reviewStars-input {
        /*fix floating problems*/
        overflow: hidden;
        *zoom: 1;
        /*end of fix floating problems*/

        position: relative;
        float: left;
      }

      #reviewStars-input input {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;

        width: 14px;
        height: 14px;

        position: absolute;
        top: 0;
        z-index: 0;
      }

      #reviewStars-input input:checked ~ label {
        background-position: -2px -27px;
        height: 14px;
        width: 14px;
      }

      #reviewStars-input label {
        background-position: -2px -5px;
        height: 14px;
        width: 14px;
        float: right;
        cursor: pointer;
        margin-right: 10px;

        position: relative;
        z-index: 1;
      }

      #reviewStars-input label:hover,
      #reviewStars-input label:hover ~ label {
        background-position: -2px -27px;
        height: 14px;
        width: 14px;
      }
    }

    &-rotate {
      display: block;
      position: relative;

      &-sl1,
      &-sl2,
      &-sl3,
      &-sl4 {
        outline: none;
      }

      .slick-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: solid 2px $btncolorgradone;
        outline: none;
        background-color: white;
        position: absolute;
        z-index: 3;
        cursor: pointer;
      }
      .slick-next {
        right: 0;
        top: 35%;

        &::before {
          position: absolute;
          content: "\e904";
          font-family: "icomoon";
          font-size: 13px;
          font-weight: bold;
          color: $btncolorgradone;
          top: 7px;
          left: 7px;
        }
      }
      .slick-prev {
        top: 35%;
        // margin-right: 30px;
        &::before {
          position: absolute;
          content: "\e903";
          font-family: "icomoon";
          font-size: 13px;
          font-weight: bold;
          color: $btncolorgradone;
          top: 7px;
          left: 7px;
        }
      }
      &-sl1,
      &-sl2,
      &-sl3,
      &-sl4 {
       
      }
    }

    .slider__content-background {
      position: absolute;
      top: 42%;
      right: 0;
      z-index: -1;
    }
  }
}
