.cakes__left-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cakes__left {

  padding: 0 70px;
  text-align: center;

  &-heading {
    padding-bottom: 17px;
    h2 {
      font-family: $fontheadinsbold;
      font-size: 54px;
      line-height: 30px;
      letter-spacing: 0.1px;
      color: $btncolorgradone;
    }
  }
  &-subheading {
    padding-bottom: 65px;
    p {
      font-family: $fontheadinsbold;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.1px;
      color: #996666;
      font-weight: bold;
      text-align: center;
      word-wrap: break-word;
    }
  }
  &-content {
    padding-bottom: 40px;
    p {
      font-family: fontaccenttext;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.9px;
      color: $btncolorgradone;
    }
  }
  &-infoteam {
    padding-bottom: 40px;
    p {
      padding-bottom: 45px;
      font-family: $fontheadinsbold;
      color: $btncolorgradone;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.25px;
      font-weight: bold;
    }
  }
  &-description {
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      padding: 0px 20px;
    }
    p {
      font-family: $fontheadings;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0.25px;
      font-weight: 100;
      width: 110px;
      border-top: solid 1px $accentcolor;
      border-bottom: solid 1px $accentcolor;
      padding: 20px 0;
      text-align: center;
    }
  }
  .cakes__left-quote {
    position: relative;
    &:before {
      content: "\e977";
      font-family: "icomoon";
      position: absolute;
      color: #b6b5b2;

      top: -10px;
      left: 0px;
      font-size: 16px;
    }
    &::after {
      content: "\e978";
      font-family: "icomoon";
      position: absolute;
      color: #b6b5b2;
      bottom: -10px;
      right: 0px;
      font-size: 16px;
    }
  }
}

.cakes__right {
  display: flex;
  position: relative;
  

  &-flour {
    width: 312px;
    height: 265px;
    outline: solid 4px white;
    outline-offset: -19px;
    padding: 8px;
  }
  &-egs {
    width: 312px;
    height: 265px;
    outline: solid 4px white;
    outline-offset: -19px;
    padding: 8px;
  }
  &-chocolate {
    width: 312px;
    height: 265px;
    outline: solid 4px white;
    outline-offset: -19px;
    padding: 8px;
  }
  &-Strawberry {
    width: 312px;
    height: 265px;
    outline: solid 4px white;
    outline-offset: -19px;
    padding: 8px;
  }

  .cakes__right-label {
    align-items: center;
    position: absolute;

    align-content: center;
    top: 10px;
    left: 173px;

    .label {
      position: absolute;
      top: 126px;
      opacity: 0.8;
    }
    .textlabel {
      width: 154px;
      height: 140px;
      position: relative;
      word-wrap: break-word;
      left: 69px;
      top: 223px;
      font-family: $fontheadings;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: 0.5;
      color: #cc9966;
      text-align: center;
    }
  }
}
